.flex__squares {
    height: 100vh;
    background-color: #381D2A;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    align-content: center;
}

.container {
    width: 35%;
    height: 20%;
    margin: 20px;
    padding: 20px;
    
    background-color: #DE6449;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
}
.container__topLeft {
    display: flex;
    align-items: flex-end;
}
.container__topRight {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.container__midLeft {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container__midRight {
    display: flex;
    justify-content: space-between;
}
.container__botLeft {
    display: flex;
    justify-content: space-around;
}
.container__botRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 16%;
    height: 52%;
    
    background: #407899;
    border-radius: 4px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-grow: 0;
}
.box--stretch {
    height: 80%;
    display: flex;
}
.box--midRight_right {
    display: flex;
    align-self: flex-end;
}
.box--grow {
    display: flex;
    width: 36%;
}

.flex__circles {
    height: 100vh;
    background-color: #FFBC42;
    display: flex;
    flex-flow: wrap row;
    justify-content: start;
    align-content: center;
}

.rectangle {
    width: 26%;
    height: 35%;
    margin: 20px;
    padding: 10px;
    
    background-color: #042A2B;
    display: flex;
    flex-flow: wrap row;
}
.rectangle__topLeft {
    display: flex;
    align-content: flex-start;
}
.rectangle__topMid {
    background-color: #49111C;
    
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
}
.rectangle__topRight {
    display: flex;
    justify-content: space-between;
}
.rectangle__botLeft {
    background-color: #49111C;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rectangle__botMid {
    display: flex;
    align-content: center;
    justify-content: center;
}

.circle {
    width: 20%;
    height: 28%;
    
    background: #407899;
    border-radius: 100px;
    margin: 20px;


    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-grow: 0;
}
.circle--end {
    align-self: flex-end;
}